@import "../styles/breakpoints";
.router{
  //min-height: 100vh;
}
.holder{
  position: relative;
  padding: 0 22px;
  .second{
    padding: 0;
  }
  &.nav{
    max-height: calc(100vh - 78px);
    overflow: hidden;
  }
  .projects-holder{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  h3{
    margin-top: 10px;
    font-weight: 100;
    font-size: 24px;
  }
}
@media (min-width: #{$screen-desktop}) and (max-width: #{1048px}) {
  .holder{
    .projects-holder{
      max-width: 1024px;
      margin: 0 auto;
      align-items: flex-start;
      //flex-wrap: wrap;
      //flex-direction: row;
    }
    h3{
      max-width: 678px;
      font-size: 58px;
      margin-bottom: 90px;
    }
    //overflow: hidden;
    padding: 0 15px;
  }
}
@media (min-width: #{1049px}) {
  .holder{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    &.router{
      position: static;
    }
    .projects-holder{
      max-width: 1024px;
      margin: 0 auto;
      align-items: flex-start;
      //flex-wrap: wrap;
      //flex-direction: row;
    }
    h3{
      max-width: 678px;
      font-size: 58px;
      margin-bottom: 90px;
    }
  }

}
